[Unit]
Description=Clash daemon, A rule-based proxy written in go
After=network.target

[Service]
Type=simple
User=pi
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
ExecStart=/etc/clash/clash -d /etc/clash
Restart=on-failure

[Install]
WantedBy=multi-user.target
